this code just for trigger 
there i have to table 
table 1: pather
table 2: pather log

In [ ]:
create or replace TRIGGER FATHER_TABLE_T1 
AFTER INSERT ON PATHER 
REFERENCING OLD AS OLD NEW AS NEW 
FOR EACH ROW 
BEGIN
  insert into father_log(
  ID,NAME)
  values(:NEW.ID,:NEW.NAME);
END;

tihs is code for procedure

In [ ]:

create or replace PROCEDURE select_proc3
IS
    varname varchar2(20); 
BEGIN
    SELECT name into varname FROM pather Where ID =2; 
    DBMS_OUTPUT.PUT_LINE(varname); 
END;